name: validate_datasets

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']
  create:
    branches: [master]
    tags: ['**']
  schedule:
    - cron: "0 4 * * 1"
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run the build with tmate using mxschmit/action-tmate"
        required: false
        default: false

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # I don't care about windows during the testing this schema
        # platform: [ubuntu-latest, macos-latest, windows-latest]
        platform: [ubuntu-latest, macos-latest]
        bids-validator: [stable, main, dev, legacy]

    runs-on: ${{ matrix.platform }}

    env:
      TZ: Europe/Berlin
      FORCE_COLOR: 1

    steps:
    - uses: actions/checkout@v6

    - name: Set up Node.js
      if: matrix.bids-validator == 'legacy'
      uses: actions/setup-node@v6
      with:
        node-version: 22

    - name: Set cache name
      if: matrix.bids-validator == 'legacy'
      run:
        echo "MONTH=$( date +%Y%m )" >> $GITHUB_ENV

    - name: Load npm cache
      if: matrix.bids-validator == 'legacy'
      uses: actions/cache@v5
      with:
        path: ~/.npm
        key: npm-${{ runner.os }}-${{ env.MONTH }}

    - uses: denoland/setup-deno@v2
      if: matrix.bids-validator != 'legacy'
      with:
        deno-version: v2.x
        
    - name: Clean Deno cache
      if: matrix.bids-validator != 'legacy'
      run:
        rm -f $HOME/.deno/bin/bids-validator
        deno cache --reload jsr:@bids/validator

    - name: Install BIDS validator (stable)
      if: matrix.bids-validator == 'stable'
      run: |
        deno install -Agf -n bids-validator jsr:@bids/validator

    - name: Install BIDS validator (main)
      if: matrix.bids-validator == 'main'
      run: |
        # If unmerged validator PRs are needed for testing, you can use
        # https://github.com/<FORK>/bids-validator/raw/<BRANCH>/bids-validator/src/bids-validator.ts
        #deno install -Agf https://github.com/bids-standard/bids-validator/raw/deno-build/bids-validator.js
        git clone -b main https://github.com/bids-standard/bids-validator/ ../bids-validator
        cd ../bids-validator
        deno compile -A -o $HOME/.deno/bin/bids-validator src/bids-validator.ts

    - name: Install BIDS validator (dev)
      if: matrix.bids-validator == 'dev'
      run: |
        git clone -b dev https://github.com/bids-standard/bids-validator/ ../bids-validator
        cd ../bids-validator
        deno compile -A -o $HOME/.deno/bin/bids-validator src/bids-validator.ts

    - name: Install BIDS validator (legacy)
      if: "matrix.bids-validator == 'legacy'"
      run: |
        npm install -g bids-validator

    - name: Install Astral UV
      uses: astral-sh/setup-uv@v7

    - name: Display versions and environment information
      run: |
        echo $TZ
        date
        which deno && echo "deno\n----" && deno --version || true
        echo "node\n----"; node --version
        echo "npm\n----"; npm --version
        echo "bids-validator"; bids-validator --version

    - name: Check that no large files are present
      if: "matrix.bids-validator == 'stable'"
      run: |
        echo "Checking for big files ..."
        found=`find . -not -path "./.git*" -type f -size +500k`
        if [ "$found" == "" ]
        then
            echo "No big files present, great!"
        else
            echo "Found big files:"
            echo "$found"
            exit 1;
        fi

    - name: Skip legacy validation for post-legacy datasets
      run: for DS in mrs_* dwi_deriv pet006 pheno004 volume_timing; do touch $DS/.SKIP_VALIDATION; done
      if: matrix.bids-validator == 'legacy'

    - name: Skip stable validation for datasets with unreleased validator features
      # Replace ${EMPTY} with dataset patterns, when this is needed
      # Reset to "for DS in ${EMPTY}; ..." after a validator release
      run: for DS in ${EMPTY}; do touch $DS/.SKIP_VALIDATION; done
      if: matrix.bids-validator == 'stable'

    - name: Skip main validation for datasets with unreleased spec features
      # Replace ${EMPTY} with dataset patterns, when this is needed
      # Reset to "for DS in ${EMPTY}; ..." after a spec release
      run: for DS in emg_*; do touch $DS/.SKIP_VALIDATION; done
      if: matrix.bids-validator != 'dev'

    - name: Set BIDS_SCHEMA variable #for dev version
      # if: matrix.bids-validator == 'dev'
      # When proposing new features, schema changes may be necessary.
      # Update this URL to the schema.json from PRs to the spec, when needed.
      # If this variable is unset, dev will generally track the latest development
      # release of https://jsr.io/@bids/schema
      run: |
        git clone -b bep023 https://github.com/bids-standard/bids-specification/ ../bids-specification
        pushd ../bids-specification
        uv run bst export > ../bids-examples/schema.json
        popd
        echo BIDS_SCHEMA=file://${PWD}/schema.json >> $GITHUB_ENV
        echo VALIDATOR_ARGS="--schema file://${PWD}/schema.json -r" >> $GITHUB_ENV

    - name: Debug Schema via Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: branch-${{ github.base_ref }}_validatorversion-${{ matrix.bids-validator }}_platform-${{ matrix.platform }}-schema.json
        path: schema.json


    - name: Debug with Tmate
      uses: mxschmitt/action-tmate@v3
      if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}


    - name: Validate all BIDS datasets using bids-validator
      run: |
        cat ./run_tests.sh
        ./run_tests.sh
